html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

#app {
  height: 100%;
  text-align: center;
  background: rgb(40,0,120);
  background: radial-gradient(circle, rgba(40,0,120,1) 0%, rgba(0,0,0,1) 100%);
  color: #fff;
  font-size: 1.5em;
  padding-top: 100px;
}

.link {
  color: #fff;
}
